/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}
  
* {
  margin: 0;
}
  
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Custom propertiest  */

:root {
  --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --sidebar-white: #f9faf8;
}

/*Exterior background color */

body {
  background-color: #131212;
}

/* Links */

a {
  text-decoration: none;
}
  

/* Main dashboard layout */

.dashboard {
  font-family: var(--system-ui);
  margin: 0 auto;
  width: clamp(50%, 75%, 1440px);
  height: 100vh;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

header {
  background-color: #f8f8f8;
  grid-column: 2/3;
}

aside {
  background-color: #3882f6;
  grid-row: 1/3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main {
  background-color: #e0e0e0;
}

/* Header items */

header svg {
  fill: #181818;
  height: 1.5rem;
  width: 1.5rem;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.search,
.account {
  display: flex;
  align-items: center;
  margin: 1em 3em;
  gap: 1.5em;
}

.search {
 flex: 2;
}

.account {
  justify-content: right;
  flex: 1;
}

input[type="search"] {
  background-color: #cad3e0;
  outline: none;
  border-style: none;
  border-radius: 30px;
  height: 30px;
  width: 75%;
}

.account img {
  border-radius: 50%;
  background-color: #f05924;
  width: 50px;
  height: 50px;
}

/* Sidebar items */

aside a {
  color: var(--sidebar-white);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--sidebar-white);

}

.logo h1 {
  font-size: 1.6rem;
}

svg {
  fill: var(--sidebar-white)
}

.logo svg {
  height: 2.8rem;
  width: 2.8rem;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 20px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar h2 {
  font-size: 1.2rem;
}

nav svg {
  height: 1.5rem;
  width: 1.5rem;
}

.links {
  margin-bottom: 40px;
}



